/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: rgb(137, 209, 242);
    height: 50px;
}

/* regole del blocco centrale */

#riga-blu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 500px;
    width: 100%;
}

#riga-blu-rosa {
    background-color: palevioletred;
    height: 80%;
    width: 50%;
}

.container {
    display: flex;
    height: 1200px;
    width: 100%;
}

#riga-bianca {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 100%
}

#riga-grigia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 400px;
    width: 100%;
}

/* regole footer */
footer {
    background-color: black;
    min-height: 100px;
}